<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsZN8yUeUtkSL8RoW8X44mABZrWEYxSBY</string>
	<key>GCM_SENDER_ID</key>
	<string>519570495284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stringee.flutter.sample</string>
	<key>PROJECT_ID</key>
	<string>stringeesample-f3e03</string>
	<key>STORAGE_BUCKET</key>
	<string>stringeesample-f3e03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519570495284:ios:da98b23d6bb63e80763761</string>
	<key>DATABASE_URL</key>
	<string>https://stringeesample-f3e03-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>